:root {
  --background-color: #36454f;
  --text-color: #f5f5dc;
  --highlight1-color: #8b0000;
  --highlight2-color: #4b0082;
  --tips-color: #c0c0c0;
  --border: 5px solid var(--tips-color);
  --border-radius: 20px;
  --transition: 0.5s ease-in-out;
  --fast-transition: 0.25s ease-in-out;
  --input-background: gray;
}

body {
  background-color: var(--background-color);
}
