@import './base.css';

/* App Layout */

#app-layout {
  display: flex;
  background-color: black;
  height: 100vh;
}


/* Chat Interface Styles */
.chat-interface {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: var(--background-color);
}

/* Chat Message Styles */
.chat-message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 18px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-user {
  background-color: var(--highlight1-color);
  color: var(--text-color);
  align-self: flex-end;
  margin-left: auto;
  font-size: x-large;
}

.message-assistant {
  color: var(--text-color);
  align-self: flex-start;
  font-size: x-large;
}

.message-system {
  background-color: transparent;
  color: #888;
  font-style: italic;
  text-align: center;
  max-width: 100%;
  align-self: center;
}

/* Input Area Styles */
.input-area {
  display: flex;
}

.input-area input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  background-color: var(--highlight1-color);
  color: var(--text-color);
}

.input-area button {
  padding: 10px 20px;
  border: none;
   background-color: var(--highlight2-color);
  transition: 0.5s ease-in-out;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.input-area button:hover {
  background-color: var(--tips-color);
  color: black
}
